html,body {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
  background: white;
  background-color: #fff;
  color: #000;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  filter: grayscale(1);
}

.theme{
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: +1;
}
.theme img{
  width: 1.5rem;
  cursor: pointer;
  transition: all .3s ease;
}
.theme img:hover{
  rotate: 180deg;
}

.title p{
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin: 0.5rem auto;
}

span{
  font-weight: 400;
}

.socials {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.socials img{
  width: 1.5rem;
}

.navbar nav{
  margin: 5px auto;
  width: 80%;
  display: flex;
  font-size: 0.75rem;
  justify-content: space-evenly;
  border: 1px solid #000;
  border-radius: 2rem;
  padding: 0.5rem 0.2rem;
}
.navbar nav a{
  text-decoration: none;
  color: #000;
}

.main {
  /* flex: 0 1 auto; */
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.main p{
  padding: 0.5rem;
}
/* 
.main .content:target{
  display: block;
} */

.project-container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
}

.project-container .project{
  min-height: 20%;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 1px solid black;
  text-align: center;
  margin: 1rem 0;
}

.project-container .project img{
  width: 80%;
  margin: 0 auto;
}

.project-container .project a{
  text-decoration: none;
  color: #000;
}
.project-container .project a:hover{
  text-decoration: underline;
}

.hidden{
  display: none;
}

.footer {
  /* flex: 0 1 5%; */
  height: 5%;
  bottom: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer p{
  margin: 10px 10px;
  font-size: 0.7rem;
}

@media screen and (min-width: 800px) {
  .container {
    background: #fcfcfc;
    margin: 0 auto;
    max-width: 800px;
  }
  .title p{
    font-weight: 100;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0.5rem auto;
  }
}
